<!DOCTYPE html>

<!--/* Note the xmlns:* here are completely optional and only meant to     */-->
<!--/* avoid IDEs from complaining about tags/attributes they may not know */-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">

  <head>
    <title>extraThyme: Thymeland's football website</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/extrathyme.css" th:href="@{/css/extrathyme.css}"/>
  </head>

  <body>

    

    <div class="leaguetable">
	<h2>Total cases so far</h2>
      <h4 score:match-day-today th:text="${total}">
        
      </h4>
      
      <table>
        <thead>
          <tr>
            <th>Country</th>
            <th>State</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Cases</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="t : ${allStats}">
            <td th:text="${t.country}"></td>
            <td th:text="${t.state}" class="matches"></td>
            <td th:text="${t.lat}" class="matches">0</td>
            <td th:text="${t.lng}" class="matches">0</td>
            <td th:text="${t.cases}" class="points">0</td>
          </tr>
        </tbody>
      </table>

    </div>

  </body>

</html>